#nav-avatar {
    transform: translateX(5px) translateY(-5px);
    width: 45px;
    height: 45px;
    -webkit-border-radius: 45px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 45px;
    -moz-background-clip: padding;
    border-radius: 45px;
    background-clip: padding-box;
    float: left;
    background-size: cover;
    background-position: center center;
    margin-bottom: -19px;
}

.dropdown-custom {
    background-color: #DFDFDF;
}

.dropdown-custom a {
    color: #000000;
}

.dropdown-menu.dropdown-custom > li {
    border-top: 2px solid #FFF;
}

.form-avatar {
    display: flex;
}
.user.overlay {
    display: table;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
}
.avatar-container {
    margin: auto;
    
}
.message #avatar {
    width: 80px;
    height: 80px;
}
#avatar {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 150px;
    -moz-background-clip: padding;
    border-radius: 150px;
    background-clip: padding-box;
    margin: 0 auto;
    float: left;
    background-size: cover;
    background-position: center center;
}

#edit-avatar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    background: #000000;
    opacity: 0.8;
    display: none;
}
#delete-avatar:after {
    content: '_';
    font-weight: 800;
    position: absolute;
    margin-top: -10px;
    margin-left: 6px;
    cursor: pointer;
}

#delete-avatar {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 20px;
    top: 20px;
    font-weight: 500;
    color: #ffffff;
    background: red;
    border-radius: 50%;
    opacity: 0.8;
    display: none;
}

#profil_form #profile_form_imageFile {
    display: none;
}

/* NAV-TABS VERTICAL */
@media(min-width: 768px) {
    .tabs-wrapper.lined.vertical-tabs .nav-tabs {
        border-bottom: none;
    }
    .vertical-tabs .tab-content {
        border-left: 1px solid rgba(21, 21, 21, 0.15);
    }
    .vertical-tabs .tab-content {
        padding-left: 25px;
        margin-left: -50px;
    }
    
    .vertical-tabs .nav-tabs .nav-link {
        font-size: 15px;
        border-bottom-width: 2px;
    }
    .vertical-tabs .nav {
        display: block;
    }
}

@media(max-width: 767px) {
    .vertical-tabs .tab-content {
        border-top: 1px solid rgba(21, 21, 21, 0.15);
    }
    .vertical-tabs .nav-tabs .nav-link {
        border: 0;
        padding: 10px 20px;
        border-radius: 0;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Montserrat';
        color: #404040;
    }
}

.border-colored {
    border-bottom: #33C4BF 10px solid;
}

@media(max-width: 768px) {
    .logo {
        display: none
    }
}

.logo {
    position: absolute;
    left: -45px;
}

.gallery-slider #icon_premium {
    margin-bottom: -2px;
}
.size-16 svg {
    width: 16px;
    height: 16px;
}

.size-20 svg {
    width: 20px;
    height: 20px;
}

.size-45 svg{
    width: 45px;
    height: 45px; 
}

.size-40 svg{
    width: 40px;
    height: 40px; 
}

.size-200 svg{
    width: 200px;
    height: 200px; 
}
.fill-black {
    fill: #000;
}

.fill-dark {
    fill: #aaa;
}

.fill-light {
    fill: #FFFFFF;
}

.buffer_decorban {
    position: absolute;
    right: -20px;
    top: -140px;
}

@media (min-width: 992px) {
    .navbar .account-circle {
        margin-top: 25px;
        margin-left: 5px;
    }

    .navbar.fixed .account-circle {
        margin-top: 15px;
    }
}
@media (max-width: 991px) {
    .navbar .account-circle {
        margin: 10px 15px;
    }
}
.vertical_logo {
    position: absolute;
    left: -60px;
    height: 350px;
    transform: rotate(-90deg);
}

@media(max-width: 670px) {
    .vertical_logo {
        display: none;
    }
}
@media(max-width: 1023px) {
    .buffer_decorban {
        display: none;
    }    
}

.gallery-slider svg {
    margin-bottom: -4px;
}

.gallery-slider span {
    padding-right: 24px;
    font-weight: 500;
}

.gallery-list span {
    padding-right: 15px;
    font-weight: 400;
}

.gallery-slider .title {
    text-transform: none;
    font-weight: 600;
}

.gallery-list .title:after,
.gallery-slider .title:after,
.gallery-list .date:after,
.gallery-slider .date:after,
.gallery-list .pictures:after,
.gallery-slider .pictures:after,
.gallery-list .custom-comments:after,
.gallery-slider .custom-comments:after  {
    display: none;
}
/* ERROR MESSAGES */

.alert {
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-left: 3px solid;
}

.alert-danger {
    color: #c0392b;
    border-color: #e74c3c;
    background-color :rgba(231,76,60 ,0.1);
}

/* COMMENTS */
#comment_message {
    height: 100px;
}

#comments .user {
    margin-right: 15px;
}

#comments ol.commentlist ul.children li .message {
    padding-top: 10px;
    padding-bottom: 35px;
}

.tabs-wrapper .message {
    padding: 25px;
    border-radius: 4px;
    background-color: rgba(21, 21, 21, 0.03);
}

.tabs-wrapper #comments ol.commentlist li {
    padding-top: 0px;
}

.message-header {
    bottom: 0;
    right: 0;
    background: rgba(21, 21, 21, 0.8);
    border-radius: 5px 5px 0px 0px;
}

.message-header > a {
    color: #FFF;
    font-weight: normal;
}

#replyTo, .message {
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
    padding-bottom: 10px;
}

.message .badge {
    margin-top: 10px;
    margin-left: -10px;
    padding-left: 30px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,.3);
}

.bg-role-1 {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);           
    background: #444;
}

.bg-role-1:before {
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    left: -5px;
    bottom: -39px;
    right: 0;
    content: url(../svg/star.svg); 
    /* content: url(../svg/012-crown.svg); */
}

.bg-role {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);           
    background: #444;
}

.bg-role:before {
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    left: -2px;
    bottom: -39px;
    right: 0;
    /* content: url(../svg/star.svg); */
    content: url(../svg/012-crown.svg);
}

@keyframes animateElement{
    0% {
        opacity:0;
        transform:  translate(0px,10px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
    }
}

/* HOMEPAGE */

.tp-tabs.tp-span-wrapper {
    display: none;
}

/* STYLING WYSIWYG */

blockquote p {
    border-left: 4px solid #CCC;
    margin-left: 32px;
    padding-left: 8px;
    font-size: 15px;
}

.align-right {
    text-align: right;
}

/* NAVBAR */

.navbar-brand img{
    width: 160px;
}

/* CONTACT FORM */

#contact_message {
    line-height: 2;
}

/* TAGS */

.model-avatar {
    max-width: 70px;
}
.galery-tag .tag-list li > .btn{
    background-color: transparent;
}

.galery-tag .tag-list .btn {
    font-size: 14px;
    padding: 10px 5px;
    padding-left: 20px;
}
.galery-tag .tag-list li > .btn:hover {
    background-color: transparent;
}

.galery-tag .tag-list li:not(:first-child) > .btn:before {
    background: #FFFFFF;
}

.galery-tag .tag-list li:not(:first-child) > .btn:before {
    left: 0;
    margin-top: -1px;
    width: 2px;
    height: 2px;
}

.counter h4 {
    margin-bottom: 0;
}

.galery-tag .tag-list:after {
    content : "";
    position : absolute;
    left: 50%;
    margin-left: -40px;
    bottom : -10px;
    height : 3px;
    width : 91px;  /* or 100px */
    border-bottom: 3px solid #FFF;
}

/* FOOTER */

footer .widget > img {
    width: 170px;
}

@media(max-width: 767px) {
    .certif {
        display: none;
    }    
}

@media(min-width: 768px) {
    .certif {
        width: 140px;
        right: 200px;
        bottom: -220px;
        position: absolute;
    }
}

/* BUTTONS */

.btn-xs {
    padding: 6px 24px;
    text-transform: none;
}

/* SOCIAL NETWORK BAR */
#sn_bar {
    position: fixed;
    z-index: 2;
    bottom: 90px;
    left: 15px;
    background-color: rgba(255,255,255, 0.85);
    border-radius: 30px;
}

#sn_bar li {
    list-style: none;
    padding: 20px 10px 5px 0px;
}


#sn_bar a {
    font-size: 24px;
    color: #000;
}

@media(max-width: 767px) {
    #sn_bar {
        display: none;
    }    
}

.social-network a {
    font-size: 20px;
    color: #FFF;
    padding: 15px;
}
/* COLOR */
.color-blue-green {
    color: #33C4BF !important;
}

.pr-100{padding-right:100px!important}

.model.overlay5 figcaption {
    background-color: rgb(0, 0, 0, 0.7);
    padding: 15px 35px;
}

.security-form {
    /* background-color: #FFFFFF; */
    padding: 20px;
}

.section-title-underline {
    position: relative;
    /* display: inline-block; */
    /* width: 100%; */
}
.section-title-underline:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -20px;
    height: 3px;
    width: 80px;
    border-bottom: 2px solid #000;
}

.letterspace-8 {
    letter-spacing: 8px !important;
}

footer {
    z-index: 10;
    position: relative;
}

input.form-control:disabled {
    background-color: #e9ecef;
}
#loader-wrapper {
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

 
    -webkit-transition: opacity 0.3s 1s linear;  
            transition: opacity 0.3s 1s linear;
}


.busy-loader {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
  }
  .busy-loader .w-ball-wrapper {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 4.4s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 4.4s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 4.4s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 4.4s infinite;
    transform: rotate(225deg);
    animation: orbit 4.4s infinite;
  }
  .busy-loader .w-ball-wrapper .w-ball {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #ffffff;
    left: 0px;
    top: 0px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
  }
  .busy-loader .ball-1 {
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
  }
  .busy-loader .ball-2 {
    -moz-animation-delay: 0.19s;
    -webkit-animation-delay: 0.19s;
    -ms-animation-delay: 0.19s;
    -o-animation-delay: 0.19s;
    animation-delay: 0.19s;
  }
  .busy-loader .ball-3 {
    -moz-animation-delay: 0.38s;
    -webkit-animation-delay: 0.38s;
    -ms-animation-delay: 0.38s;
    -o-animation-delay: 0.38s;
    animation-delay: 0.38s;
  }
  .busy-loader .ball-4 {
    -moz-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    animation-delay: 0.58s;
  }
  .busy-loader .ball-5 {
    -moz-animation-delay: 0.77s;
    -webkit-animation-delay: 0.77s;
    -ms-animation-delay: 0.77s;
    -o-animation-delay: 0.77s;
    animation-delay: 0.77s;
  }
  
  @-moz-keyframes orbit {
    0% {
      opacity: 1;
      z-index: 99;
      -moz-transform: rotate(180deg);
      -moz-animation-timing-function: ease-out;
    }
    7% {
      opacity: 1;
      -moz-transform: rotate(300deg);
      -moz-animation-timing-function: linear;
      -moz-origin: 0%;
    }
    30% {
      opacity: 1;
      -moz-transform: rotate(410deg);
      -moz-animation-timing-function: ease-in-out;
      -moz-origin: 7%;
    }
    39% {
      opacity: 1;
      -moz-transform: rotate(645deg);
      -moz-animation-timing-function: linear;
      -moz-origin: 30%;
    }
    70% {
      opacity: 1;
      -moz-transform: rotate(770deg);
      -moz-animation-timing-function: ease-out;
      -moz-origin: 39%;
    }
    75% {
      opacity: 1;
      -moz-transform: rotate(900deg);
      -moz-animation-timing-function: ease-out;
      -moz-origin: 70%;
    }
    76% {
      opacity: 0;
      -moz-transform: rotate(900deg);
    }
    100% {
      opacity: 0;
      -moz-transform: rotate(900deg);
    }
  }
  @-webkit-keyframes orbit {
    0% {
      opacity: 1;
      z-index: 99;
      -webkit-transform: rotate(180deg);
      -webkit-animation-timing-function: ease-out;
    }
    7% {
      opacity: 1;
      -webkit-transform: rotate(300deg);
      -webkit-animation-timing-function: linear;
      -webkit-origin: 0%;
    }
    30% {
      opacity: 1;
      -webkit-transform: rotate(410deg);
      -webkit-animation-timing-function: ease-in-out;
      -webkit-origin: 7%;
    }
    39% {
      opacity: 1;
      -webkit-transform: rotate(645deg);
      -webkit-animation-timing-function: linear;
      -webkit-origin: 30%;
    }
    70% {
      opacity: 1;
      -webkit-transform: rotate(770deg);
      -webkit-animation-timing-function: ease-out;
      -webkit-origin: 39%;
    }
    75% {
      opacity: 1;
      -webkit-transform: rotate(900deg);
      -webkit-animation-timing-function: ease-out;
      -webkit-origin: 70%;
    }
    76% {
      opacity: 0;
      -webkit-transform: rotate(900deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: rotate(900deg);
    }
  }
  @-ms-keyframes orbit {
    0% {
      opacity: 1;
      z-index: 99;
      -ms-transform: rotate(180deg);
      -ms-animation-timing-function: ease-out;
    }
    7% {
      opacity: 1;
      -ms-transform: rotate(300deg);
      -ms-animation-timing-function: linear;
      -ms-origin: 0%;
    }
    30% {
      opacity: 1;
      -ms-transform: rotate(410deg);
      -ms-animation-timing-function: ease-in-out;
      -ms-origin: 7%;
    }
    39% {
      opacity: 1;
      -ms-transform: rotate(645deg);
      -ms-animation-timing-function: linear;
      -ms-origin: 30%;
    }
    70% {
      opacity: 1;
      -ms-transform: rotate(770deg);
      -ms-animation-timing-function: ease-out;
      -ms-origin: 39%;
    }
    75% {
      opacity: 1;
      -ms-transform: rotate(900deg);
      -ms-animation-timing-function: ease-out;
      -ms-origin: 70%;
    }
    76% {
      opacity: 0;
      -ms-transform: rotate(900deg);
    }
    100% {
      opacity: 0;
      -ms-transform: rotate(900deg);
    }
  }
  @-o-keyframes orbit {
    0% {
      opacity: 1;
      z-index: 99;
      -o-transform: rotate(180deg);
      -o-animation-timing-function: ease-out;
    }
    7% {
      opacity: 1;
      -o-transform: rotate(300deg);
      -o-animation-timing-function: linear;
      -o-origin: 0%;
    }
    30% {
      opacity: 1;
      -o-transform: rotate(410deg);
      -o-animation-timing-function: ease-in-out;
      -o-origin: 7%;
    }
    39% {
      opacity: 1;
      -o-transform: rotate(645deg);
      -o-animation-timing-function: linear;
      -o-origin: 30%;
    }
    70% {
      opacity: 1;
      -o-transform: rotate(770deg);
      -o-animation-timing-function: ease-out;
      -o-origin: 39%;
    }
    75% {
      opacity: 1;
      -o-transform: rotate(900deg);
      -o-animation-timing-function: ease-out;
      -o-origin: 70%;
    }
    76% {
      opacity: 0;
      -o-transform: rotate(900deg);
    }
    100% {
      opacity: 0;
      -o-transform: rotate(900deg);
    }
  }
  @keyframes orbit {
    0% {
      opacity: 1;
      z-index: 99;
      transform: rotate(180deg);
      animation-timing-function: ease-out;
    }
    7% {
      opacity: 1;
      transform: rotate(300deg);
      animation-timing-function: linear;
      origin: 0%;
    }
    30% {
      opacity: 1;
      transform: rotate(410deg);
      animation-timing-function: ease-in-out;
      origin: 7%;
    }
    39% {
      opacity: 1;
      transform: rotate(645deg);
      animation-timing-function: linear;
      origin: 30%;
    }
    70% {
      opacity: 1;
      transform: rotate(770deg);
      animation-timing-function: ease-out;
      origin: 39%;
    }
    75% {
      opacity: 1;
      transform: rotate(900deg);
      animation-timing-function: ease-out;
      origin: 70%;
    }
    76% {
      opacity: 0;
      transform: rotate(900deg);
    }
    100% {
      opacity: 0;
      transform: rotate(900deg);
    }
  }
  
/* FORM INPUT */

#profil_form input {
    height: 40px;
    border-radius: 0;
}

#profil_form .form-group {
    margin-bottom: 15px;
}

#profil_form .form-group label {
    margin-bottom: 0px;
}

/* SPACES */

.p-20 {
    padding: 20px;
}

/* HEADING */

.sub-heading3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 5px;
    color: #707070;
}

.sub-heading3:after {
    display: inline-block;
    content: "";
    border-top: 1px solid #707070;
    width: 6rem;
    margin-left: 1rem;
}

.subscription span {
        font-size: 14px;
}
.subscription span.lead2{
    font-size: 16px;
}

/* LIKE */

.hide {
    display: none;
}

.show {
    display: block;
}

.not-active {
    cursor: default;
}

ul.image-wrapper:before {
    z-index: 101;
}

.about-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
    letter-spacing: normal;
}

@media(max-width: 700px) {
    .swiper-preview .swiper-button-prev,
    .swiper-preview .swiper-button-next {
        display: none;
    }
}

.swiper-preview .swiper-button-prev {
    left: -50px;
}

.swiper-preview .swiper-button-next {
    right: -50px;
}

.swiper-preview .swiper-button-prev, .swiper-preview .swiper-button-next {
    top: 40%;
    color: #303030;
}