#avatar {
    height: 80px;
    width: 80px;
}
#nav-avatar {
    position: relative;
    top: 50%;
    transform: translateX(-10px) translateY(0px);
    height: 40px;
    width: 40px;
}

.form-avatar {
    display: flex;
}
.user.overlay {
    border-radius: 50%;
    cursor: pointer;
}
.avatar-container {
    margin: auto;
    
}

#edit-avatar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    background: #000000;
    opacity: 0.8;
    display: none;
}
#delete-avatar:after {
    content: '_';
    font-weight: 800;
    position: absolute;
    margin-top: -10px;
    margin-left: 6px;
    cursor: pointer;
}

#delete-avatar {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 25px;
    top: 55px;
    font-weight: 500;
    color: #ffffff;
    background: red;
    border-radius: 50%;
    opacity: 0.8;
    display: none;
}
#registration_imageFile, #edit_profile_imageFile {
    display: none;
}

/* NAV-TABS VERTICAL */
@media(min-width: 768px) {
    .tabs-wrapper.lined.vertical-tabs .nav-tabs {
        border-bottom: none;
    }
    .vertical-tabs .tab-content {
        border-left: 1px solid rgba(21, 21, 21, 0.15);
    }
    .vertical-tabs .tab-content {
        padding-left: 25px;
        margin-left: -50px;
    }
    
    .vertical-tabs .nav-tabs .nav-link {
        font-size: 15px;
        border-bottom-width: 2px;
    }
    .vertical-tabs .nav {
        display: block;
    }
}

@media(max-width: 767px) {
    .vertical-tabs .tab-content {
        border-top: 1px solid rgba(21, 21, 21, 0.15);
    }
    .vertical-tabs .nav-tabs .nav-link {
        border: 0;
        padding: 10px 20px;
        border-radius: 0;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Montserrat';
        color: #404040;
    }
}




/* ERROR MESSAGES */

.alert {
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-left: 3px solid;
}

.alert-danger {
    color: #c0392b;
    border-color: #e74c3c;
    background-color :rgba(231,76,60 ,0.1);
}

/* COMMENTS */
#comment_message {
    height: 100px;
}

.tabs-wrapper .message {
    padding: 25px;
    border-radius: 4px;
    background-color: rgba(21, 21, 21, 0.03);
}

.tabs-wrapper #comments ol.commentlist li {
    padding-top: 0px;
}

.message-header {
    bottom: 0;
    right: 0;
    background: rgba(21, 21, 21, 0.8);
    border-radius: 5px 5px 0px 0px;
}

.message-header > a {
    color: #FFF;
    font-weight: normal;
}

#replyTo, .message {
    animation: animateElement linear .3s;
    animation-iteration-count: 1;

}

.message .badge {
    margin-top: 10px;
    margin-left: -10px;
    padding-left: 30px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,.3);
}

.bg-role-1 {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);           
    background: #444;
}

.bg-role-1:before {
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    left: -5px;
    bottom: -31px;
    right: 0;
     content: url(../svg/star.svg); 
    /* content: url(../svg/012-crown.svg); */
}

.bg-role {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);           
    background: #444;
}

.bg-role:before {
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    left: -2px;
    bottom: -30px;
    right: 0;
    /* content: url(../svg/star.svg); */
    content: url(../svg/012-crown.svg);
}

@keyframes animateElement{
    0% {
        opacity:0;
        transform:  translate(0px,10px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
    }
}

/* HOMEPAGE */

.tp-tabs.tp-span-wrapper {
    display: none;
}

/* STYLING WYSIWYG */

blockquote p {
    border-left: 4px solid #CCC;
    margin-left: 32px;
    padding-left: 8px;
    font-size: 15px;
}

.align-right {
    text-align: right;
}

/* NAVBAR */

.navbar-brand a{
    color: #FFF;
}

/* CONTACT FORM */

#contact_message {
    line-height: 2;
}

/* TAGS */

.galery-tag {
    position: absolute;
    bottom: 0;
}

.galery-tag li > .btn{
    font-size: 11px;
    padding: 8px 14px;
}

.galery-tag li > .btn:before {
    content: none;
}