<div class="ads_popup_bg">
    <span class="ads_popup_trigger"></span>
    <div class="ads_popup bg-light">
        <img src="{{ asset('assets/logo_popup.png') }}" alt="deCorban">
        <p class="lead2">Ce site internet est réservé à un public majeur et averti, il contient des photographies érotiques et peut heurter la sensibilité des plus jeunes.</p>
        <button id="disclaimer_confirm" class="btn btn-xs btn-dark lead">Je confirme avoir 18 ans</button>
        <a href="https://www.google.fr/" class="btn btn-xs btn-dark lead">Sortir</a>
    </div>
</div>