<footer class="dark-wrapper inverse-text">
    <div class="container inner pt-60 pb-60">
        <div class="row">
        <div class="col-md-12 col-lg-4 text-center text-lg-left">
            <div class="widget"> 
                <img src="{{ asset('style/images/logo-footer.png') }}" alt="deCorban" />
                <div class="space20"></div>
                <p>Est dolores corporis qui harum sed itaque dolorem. Distinctio veritatis odio est eveniet ut sint. Eum debitis sunt quisquam aperiam.</p>
                <div class="space20"></div>
                <p>© 2020 Bastien SOARES. Tout droits réservés.</p>
            </div>
            <!-- /.widget --> 
        </div>
        <!-- /column -->
        <div class="space30 d-lg-none d-xl-none"></div>
        <div class="col-8 offset-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0">
            {{ render(controller("App\\Controller\\GaleryController::popularGaleries")) }}
        </div>
        <!-- /column -->
        <div class="col-8 offset-2 col-md-6 offset-md-0 col-lg-4 offset-lg-0 text-center">
            <div class="widget">
            <h3 class="widget-title">soutenez-moi !</h3>
                <ul class="list-unstyled tag-list social-network">
                    <li>
                        <a href="" class="behance">
                            <i class="fa fa-behance"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/decorban_dcrbn/" class="instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.widget --> 
        </div>
        <!-- /column --> 
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container --> 
</footer>