<div id="sn_bar">
    <ul>
        <li>
            <a href="" class="behance">
                <i class="fa fa-behance"></i>
            </a>
        </li>
        <li>
            <a href="" class="linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/decorban_dcrbn/" class="instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>