<div id="sn_bar">
    <ul>
        <li>
            <a href="https://www.instagram.com/decorban_dcrbn/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/GdeCorban" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/deCorban" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
    </ul>
</div>