<div class="grid list-view pt-40 text-center">
        <div class="row isotope">
        {% for model in models %}
          <div class="item grid-sizer col-6">
          {# <div class="box box-border"> #}
            <div class="row">
              <div class="col-lg-5">
                <div class="icon icon-img icon-round mb-20">
                    <figure class="model-avatar">
                      {{ macros.image(
                          vich_uploader_asset(model, 'imageFile'),
                          260,
                          260,
                          {'class': 'img-fluid', 'alt': 'Portrait du modèle "' ~ model.name ~ '"'},
                      ) }}  
                    </figure>
                </div>
              </div>
              <!--/column -->
              {# <div class="space25 d-none d-md-block d-lg-none"></div> #}
              <div class="col-lg-7">
                <h6 class="mb-5">{{ model.name }}</h6>
                <div class="meta"></div>
                <a href="#" class="more">En voir plus</a>
              </div>
              <!--/column --> 
            </div>
            {# </div> #}
            <!--/.row --> 
          </div>
          <!-- /.post -->
          {% endfor %}
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.grid --> 